<div class="word">
    <div class="panel panel-info">
        <form>
            <div class="panel-heading">
                <div class="panel-title" id="panel-name-{{word.id || 0}}" ng-model="word.name" dct-bind-ckeditor>
                    {{word.name}}
                </div>
                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteWord()">Delete</button>
            </div>
            <div class="panel-body text-justify" id="panel-definition-{{word.id || 0}}" ng-model="word.definition" dct-bind-ckeditor>
                {{word.definition}}
            </div>
        </form>
    </div>
</div>
