<div class="word">
    <label class="sr-only" for="panel-name-{{word.id}}">{{getSection().name}}</label>
    <div class="panel panel-info section-panel-{{word.sectionID}}">
        <div class="panel-heading section-panel-heading-{{word.sectionID}}">
            <div id="panel-name-{{word.id}}"
                 class="panel-title editable-content"
                 contenteditable="true"
                 ng-click="makeEditable({id: 'panel-name-' + word.id})"
                 ng-bind-html="word.name">
            </div>
            <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteWord()">
                Delete
            </button>
        </div>
        <div id="panel-definition-{{word.id}}"
             class="panel-body text-justify editable-content"
             contenteditable="true"
             ng-click="makeEditable({id: 'panel-definition-' + word.id})"
             ng-bind-html="word.definition">
        </div>
    </div>
</div>
