<div class="word">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-title" id="panel-name-{{word.id}}" dct-editable-word>
                {{word.name}}
            </span>
            <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteWord()">Delete</button>
        </div>
        <div class="panel-body text-justify" id="panel-definition-{{word.id}}" dct-editable-word>
            {{word.definition}}
        </div>
    </div>
</div>
